canvas
{
    border : 1px solid #333;
}

.pc-toolbar
{
    position : absolute;
    top: 0px;
    right : 10px;
    z-index : 10;
}

.pc-toolbar div
{
    display: block;
    margin-left: 0px;
    margin-top: 5px;
}

.pc-toolbar .btn
{
    width : 120px;
}

.pc-toolbar .btn-group
{
    margin-left:0px;
}
